<!-- Include header from partials -->
<%- include('partials/header.ejs', { name: name, title: title, description: description }) %>

<h1><%= title %></h1>
<p><%= description %></p>
<pre class="code-container"><%= content %></pre>

<!-- Include footer -->
<%- include('partials/footer.ejs', { totalCount: totalCount, totalSize: totalSize }) %>
