<!-- Include header from partials -->
<%- include('partials/header.ejs', { name: name, title: "Home", description: "ThunderHaste: A simple Hastebin server." }) %>

Most recent haste:
<div class="container most-recent-haste">
    <h1>
        <a href="/code/<%= mostRecentHasteId %>"><%= mostRecentHasteName %></a>
    </h1>
    <p>
        <%= mostRecentHasteDescription %>
    </p>
    <sub><%= mostRecentHasteTime %></sub>
</div>

<!-- Include footer -->
<%- include('partials/footer.ejs', { totalCount: totalCount, totalSize: totalSize }) %>